body {
  padding: 20px;
}
body:not(.resolved) #login,
body:not(.resolved) #profile,
body:not(.authorized) #profile {
  display: none;
}
body.resolved.authorized #login {
  display: none;
}
#params {
  max-width: 80ex;
}
#output label {
  display: block;
  margin-bottom: 10px;
}
#output {
  font-family: monospace;
  white-space: pre;
  padding: 20px;
  display: block;
  border: 1px dashed #666;
  min-height: 20px;
}
#output.error {
  color: red;
}
#profile {
  display: flex;
}
#profile .avatar {
  display: block;
  width: 50px;
  height: 50px;
}
#profile .label {
  padding: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 10px;
}
.field {
  margin-bottom: .5em;
}
.field label {
  padding-right: 10px;
}
